.openPalette {
  margin-top: 1rem;

  a {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    color: #2b2b2b;
    font-size: 1rem;
  }

  i {
    font-size: 1.3rem;
  }

}