nav {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;
}

.navContainer {
  margin: auto;
  max-width: 1800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.brand {
  width: 190px;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  i {
    font-size: 2rem;
    color: #cf5f19;
  }

  span {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;

  input {
    width: 100%;
    border-radius: 50px;
    height: 50px;
    border: 1px solid #e1e1e1;
    font-size: 1.1rem;
    padding-left: 3rem;
  }

  i {
    position: absolute;
    left: 1rem;
    top: 14px;
  }
}

.extension {
  padding: 12px 12px 10px 12px;
  border-radius: 13px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  i {
    color: #cf5f19;
  }
}

.miniMenu {
  font-size: 1.8rem;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 900px) {
  .extension {
    display: none;
  }
}

@media only screen and (max-width: 600px) {


  .brand {
    width: fit-content;

    span {
      display: none;
    }
  }
}