
.thumbnail {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 1rem;
  cursor: pointer;

  &::before {
    content: "";
    float: left;
    padding-top: 50%;
  }

  .color1 {
    height: 40%;
  }

  .color2 {
    height: 25%;
  }

  .color3 {
    height: 20%;
  }

  .color4 {
    height: 15%;
  }
}


